#ingredients-ajout {
    width: 90%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: center;
    margin: 3rem;
    /* border: 1px black solid; */
}



.container-ajout {
    display: flex;
    flex-direction: column;
}

#list-ingredients-ajoutes {
    width: 80%;
    margin-top: 2rem;
    margin-left: 2rem;

}

#title {
    margin-top: 7rem;
    margin-left: 2rem;
}

#list-ingredients-ajout {
    width: 30%;
    margin-top: 2rem;
}


/* CARTES INGREDIENTS*/


.oneCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin: 3rem; */
    margin: 3rem;
    border: 1px black solid;
    min-width: 8rem;

}

#ingredients-ajout {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: row;
    border: none;
    display: flex;
}

#ingredients .container-card {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#ingredients .container-card>* {
    height: 155px;
    margin: 2%;
    width: 280px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.titreTable {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(59, 58, 58);
    border-radius: 5px 5px 0 0;
    align-items: center;
}

#ingredients .titreTable>h2 {
    font-size: 40px;
    font-weight: lighter;
    color: rgb(246, 189, 34);
}

#ingredients .container-card .titreTable>h3 {

    font-weight: lighter;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95px;
    font-weight: lighter;
}

.content>.bout {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: #f29e29;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content>.bout>* {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;


}

.content>.bout:hover {
    opacity: 0.9;
}




/* CATEGORIES */


#price .table {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#price .table>* {
    height: 155px;
    margin: 2%;
    width: 280px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

#price .table .titreTable {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(59, 58, 58);
    border-radius: 5px 5px 0 0;
    align-items: center;
}

#price .table .titreTable>h2 {
    font-size: 40px;
    font-weight: lighter;
    color: rgb(246, 189, 34);
}

#price .table .titreTable>h3 {

    font-weight: lighter;
}

#price .table .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95px;
    font-weight: lighter;
}

#price .table .content>.bout {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: #f29e29;
    display: flex;
    justify-content: center;
    align-items: center;

}

#price .table .content>.bout>* {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;


}

#price .table .content>.bout:hover {
    opacity: 0.9;
}

#price .table .TableBleu .titreTable, #price .table .TableBleu .content>.bout {
    background-color: dodgerblue;
    color: white;

}

#price .table>.TableBleu {
    border-color: dodgerblue;
}